@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom right,
    rgb(34, 34, 34) 80%,
    rgba(0, 0, 0, 0.888)
  );
  min-height: 100vh;
}

::placeholder {
  color: rgb(156, 156, 156);
  opacity: 1;
}

:-ms-input-placeholder { 
  color: rgb(156, 156, 156);
}

::-ms-input-placeholder {
  color: rgb(156, 156, 156);
}

::selection {
  background-color: tomato;
  color: rgb(255, 255, 255);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

main {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background: linear-gradient(to bottom right, #333, rgba(43, 43, 43, 0.944));
  color: #ddd;
}

.tambah-buku {
  padding: 8px 16px;
  background-color: #3b96bd;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px;
  transition: border-radius 0.3s linear;
}

.tambah-buku:hover {
  cursor: pointer;
  border: 2px solid #3b96bd;
  border-radius: 20px;
}

.input-section {
  margin: 20px 0;
}

#searchBookTitle {
  width: 400px;
  padding: 10px !important;
  height: 10px;
  background-color: #333;
  color: #bbb;
}
#searchBookTitle:focus {
  background-color: rgb(82, 82, 82);
  color: #ddd;
}

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ddd;
}

.search-section h2 {
  margin: 20px 0;
}

.searchSubmit {
  padding: 8px 16px;
  border: 0;
  display: flex;
  align-items: center;
  outline: none;
  border-radius: 5px;
  background-color: #7a7a7a;
  color: white;
}
.searchSubmit:hover {
  cursor: pointer;
}
.book-shelf {
  display: flex;
  color: #ddd;
  padding: 20px 0;
}
.book-shelf h2 {
  text-align: center;
  margin-bottom: 20px;
}

.complete {
  flex: 1;
  margin: 0 5px;
}
.incomplete {
  flex: 1;
  margin: 0 5px;
}

.book_item {
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  margin: 10px 2.5px;
  animation: fadeIn 0.2s ease-in-out ;
  transition: transform 0.5s ease-in-out 0.1s, height 0.3s linear;
  background-color: rgb(52, 52, 52);
}
.book_item.deleted {
  transform: scale(0);
}
.resultSearch{
  width: 100%;
}
.resultSearch h2{
  text-align: center !important;
}

#resultSearch{
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 5px;
}

.resultSearch .book_item{
  width: 60%;
  margin: 0 auto;
}

#incompleteBookshelfList {
  transition: border 0.3s ease-in-out, box-shadow 0.2s linear 0.1s;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}
#incompleteBookshelfList:hover {
  border-left: 2px solid rgba(255, 255, 255, 0.603);
  border-right: 2px solid rgba(255, 255, 255, 0.603);
  box-shadow: 0 0 10px #9090908a;
}
#completeBookshelfList {
  transition: border 0.3s ease-in-out, box-shadow 0.2s linear 0.1s;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding: 0 5px;
  flex-wrap: wrap;
}
#completeBookshelfList:hover {
  border-left: 2px solid rgba(255, 255, 255, 0.603);
  border-right: 2px solid rgba(255, 255, 255, 0.603);
  box-shadow: 0 0 10px #9090908a;
}


.container-inputBook {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(0) translateY(-100%);
  display: flex;
  height: 100vh;
  color: #ddd;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.container-inputBook:hover{
  cursor: default;
}
.container-inputBook.active {
  transform: scale(1) translateY(0);
  backdrop-filter: blur(2px);
  background-color: rgba(52, 50, 50, 0.653);
}

.container-inputBook form {
  transition: 0.25s ease-in-out;
  transform: scale(0);
  border-radius: 5px;
  position: relative;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 30px;
  background-color: rgb(52, 52, 52);
}

.container-inputBook form.active {
  transform: scale(1);
}

.container-inputBook form h3 {
  text-align: center;
}

.input_inline {
  width: 80%;
  margin: 0 auto;
}

.container-inputBook form .input {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.container-inputBook form .input input {
  transition: background-color 0.3s ease-in-out, border 0.2s ease-in-out 0s;
  padding: 5px 10px;
  border: 0;
  outline: none;
  width: 280px;
  height: 30px;
  border-radius: 20px;
}
.container-inputBook form .input input:focus {
  background-color: #282828;
  color: white;
  border: 2px solid white;
}
.close-btn {
  transition: background-color 0.3s ease;
  scale: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  font-weight: 800;
}

.close-btn:hover {
  scale: 1;
  background-color: tomato;
  cursor: pointer;
}

.container-inputBook form button {
  margin: 0 auto;
  width: 350px;
  border: 10px;
  padding: 8px 16px;
}
.book_item h3 {
  margin: 8px 0;
}

button,div.orange,div.red ,div.green{
  display: inline-block;
  margin: 3px 0;
  color: rgb(239, 239, 239);
  padding: 5px 10px;
  border: 0;
  transition: .2s ease-in-out;
  border-radius: 5px;
}
div.orange:hover,div.red:hover,div.green:hover{
  cursor: pointer;
  color: rgb(44, 44, 44);
}

button:hover {
  cursor: pointer;
}

.green:hover {
  background-color: rgb(57, 215, 57);
  color: #ddd;
}
.red:hover {
  background-color: rgb(225, 72, 55);
  color: #ddd;
}
.orange:hover {
  background-color: rgb(224, 143, 57);
}
.green {
  background-color: rgb(46, 174, 46);
  color: #ddd;
}
.red {
  background-color: rgb(176, 56, 42);
  color: #ddd;
}
.orange {
  background-color: rgb(176, 111, 42);
}

.container-inputBook form button:hover {
  cursor: pointer;
}

#bookSubmit {
  padding: 8px 16px;
  background-color: #3b96bd;
  color: white;
  border-radius: 5px;
}

#searchBookTitle {
  padding: 5px 10px;
  margin: 0 3px;
  border-radius: 20px;
  height: auto;
  border: 0;
  outline: none;
}

#searchBook {
  display: flex;
  align-items: center;
  height: 40px;
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoom 0.3s linear;
  backdrop-filter: blur(3px);
  transition: 0.1s linear ;
}
.dialog-container.deleted {
  transform: scale(0);
}

.dialog-container:hover {
  cursor: default;
}

.dialog-confirm {
  position: relative;
  background-color: #282828;
  color: white;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 20px;
  border-radius: 5px;
}
.dialog-confirm .choice {
  display: flex;
  gap: 10px;
  justify-content: end;
}

@keyframes zoom {
  0% {
    scale: 0;
  }
  25%{
    scale: 1.1;
  }
  50%{
    scale: 1;
  }
  75%{
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width : 900px) {
  .book-shelf{
    display: block;
  }
  .complete{
    margin: 30px 5px
  }
  .container-inputBook form {
    width: 90%;
    padding: 0 20px;
  }
  .container-inputBook form .input{
    width: 100%;
  }
  #searchBook{
    width: 100%;
  }
  .resultSearch .book_item{
    width: 100% !important;
  }
  .container-inputBook form .input input{
    width: 250px;
  }
}